<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Endless Mode Question</title>
	</head>
	<body>
		<h1>Question {{ current_question_index }}</h1>
		<h2>{{ question.question }}</h2>
		<form action="{{ url_for('endless_question') }}" method="post">
			{% for choice in question.choices %}
			<input
				type="radio"
				id="{{ choice }}"
				name="answer"
				value="{{ choice }}"
			/>
			<label for="{{ choice }}">{{ choice }}</label><br />
			{% endfor %}
			<button type="submit">Submit Answer</button>
		</form>
	</body>
</html>
