<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome to the Game Center!</h1>
		<a href="{{ url_for('start_twenty_questions_game') }}"
			><button>Start Twenty Questions Game</button></a
		>
		<a href="{{ url_for('start_endless_game') }}"
			><button>Start Endless Game</button></a
		>
		<a href="{{ url_for('twenty_questions_leaderboard') }}"
			><button>Twenty Questions Leaderboard</button></a
		>
		<a href="{{ url_for('endless_leaderboard') }}"
			><button>Endless Leaderboard</button></a
		>
	</body>
</html>
